.about-content > h1 {
  display: flex;
  font-weight: 500;
  line-height: 1;
  font-size: 1.25rem;
  margin-top: 3.1rem;
}

.about-p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.about-p1,
.about-p2 {
  line-height: 1.75;
  color: var(--secondary-text);
  margin: 0;
}

.about-status-social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  margin-top: 2rem;
  width: 100%;
  align-items: center;
}

.about-status {
  display: flex;
  justify-content: flex-start;
  grid-column: 1;
  grid-row: 1;
}

.about-status-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.about-social-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-end; /* Pins socials to the right */
  flex-wrap: nowrap; /* Keep icons in one line for consistency */
  grid-column: 3;
  grid-row: 1;
  align-items: center;
}

.status-1,
.status-2 {
  align-items: center;
  display: flex;
}

.social-1,
.social-2,
.social-3 {
  align-items: center;
  display: flex;
}

.about-employment svg,
.about-location svg,
.about-socials svg {
  font-size: 1.25rem;
  margin-right: 0.25rem;
}

.about-location,
.about-employment,
.about-socials {
  display: flex;
  line-height: 0;
  font-size: 1rem;
  color: var(--text);
  align-items: center;
  white-space: nowrap;
}

.about-profile-wrapper {
  display: flex;
}

.about-img {
  width: 15rem;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;
}

.about-content-wrapper {
  display: flex;
  flex-direction: row; /* Forces side-by-side layout */
  gap: 1rem;
  justify-content: space-between;
}

.about-github {
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 2rem;
  padding: 1rem;
}

.about-github-title {
  white-space: nowrap;
  text-align: left;
  display: flex;
  padding-bottom: 1rem;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.25rem;
}

.about-github-title svg {
  color: var(--primary);
  margin-right: 0.25rem;
}

.about-github > div {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.about-github svg {
  max-width: 100%;
  height: auto;
  transform-origin: center top;
}

.about-featured {
  margin-top: 2rem;
}

.about-social-wrapper svg,
.about-status svg {
  color: var(--primary);
}

/* SCREEN SIZES LESS THAN 800px */

@media (max-width: 800px) {
  .about-status-social {
    grid-template-columns: 1fr 1fr;
  }

  .about-status-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .about-social-wrapper {
    grid-column: 2;
    grid-row: 1;
    margin-left: 1rem;
  }
}

/* LESS THAN 650 */
@media (max-width: 650px) {
  .about-status-social {
    grid-template-columns: 1fr;
  }

  .about-status {
    justify-content: center;
    margin-bottom: 1rem;
  }

  .about-social-wrapper {
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
  }

  .about-profile-wrapper {
    justify-content: center;
  }

  .about-content-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .about-status-social {
    justify-content: center;
  }

  .about-status-wrapper {
    display: grid;
  }

  .about-social-wrapper {
    display: grid;
  }

  .about-socials .status-1 {
    grid-row: 1;
  }

  .status-2 {
    grid-row: 2;
  }

  .social-1 {
    grid-row: 3;
  }

  .social-2 {
    grid-row: 4;
  }

  .social-3 {
    grid-row: 5;
  }
}
