/* App.css */

.app-container {
  display: flex;
  width: 100vw;
}

.frame-overlay {
  position: fixed;
  width: 100%;
  height: 100%;

  outline: 1px solid var(--primary);

  outline-offset: -3rem;

  z-index: 999;
  pointer-events: none;
  box-shadow: inset 0 0 0 3rem var(--box-outline);
}

.static-left-side {
  width: 50%;
  height: 100vh;
  top: 0;
  background-color: var(--background);
  position: sticky;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10rem;
  padding: 7rem 2rem;
  overflow: hidden;
}

.static-left-side > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.top-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#nav {
  height: fit-content;
}

.dynamic-right-side {
  flex: 0 0 45%;
  width: 50%;
  box-sizing: border-box;
  padding: 7rem 2rem;
  margin-right: 10rem;

  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
