/* App.css */

.app-container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  overflow-y: visible;
  background-color: var(--background);
}

.frame-overlay {
  position: fixed;
  width: 100%;
  height: 100%;

  outline: 1px solid var(--primary);

  outline-offset: -3rem;

  z-index: 999;
  pointer-events: none;
  box-shadow: inset 0 0 0 3rem var(--box-outline);
}

.static-left-side {
  width: 50vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: sticky;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10rem;
  padding: 7rem 2rem;
}

.static-left-side > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.top-group {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

#nav {
  display: block;
}

.dynamic-right-side {
  flex-grow: 1;
  width: 50%;
  min-height: 100vh;
  box-sizing: border-box;

  padding: 7rem 2rem;
  margin-right: 10rem;

  display: flex;
  flex-direction: column;
  overflow: visible;
}
