.experience {
  position: relative; /* Anchor for the absolute layer */
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: fit-content;
  transition: all 0.3s ease;
  margin-top: 2rem;
}

.exp-link svg {
  display: inline;
  vertical-align: middle;
  font-size: 1rem;
  margin-left: 0.25rem;
}

.exp-page .experience:hover svg {
  transform: translate(5px, -5px);
}

.exp-page:hover .experience {
  opacity: 0.5;
  transition: all 0.3s ease;
}

.exp-page .experience:hover {
  opacity: 1;
  filter: blur(0px);
  transform: scale(1.02);
}

.exp-hover-layer {
  position: absolute;
  top: -1rem;
  bottom: -1rem;
  left: -1rem;
  right: -1rem;

  z-index: 999;
  border-radius: 12px;
  background-color: transparent;
  transition: all 0.3s ease;
  pointer-events: auto;
}

.experience:hover .exp-hover-layer {
  box-shadow: 0px 0px 3px var(--primary);
}

.exp-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  z-index: 10;
}

.exp-title {
  align-items: baseline;
  color: var(--text);
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1;
  margin: 0;
}

.exp-date {
  color: var(--accent);
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  line-height: 1;
}

.exp-description {
  margin-top: 0.2rem;
  line-height: 1.5;
  color: var(--secondary-text);
  font-weight: 500;
}

/* 1. Change title color on parent hover */
.experience:hover .exp-title {
  color: var(--primary); /* Replace with your desired highlight color */
}

/* 3. Smooth the transitions */
.exp-title {
  transition: all 0.3s ease;
}

.tag-container {
  margin-top: 0.7rem;
}
