.experience {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  transition: all 0.3s;

  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.experience:hover {
  background-color: rgba(255, 255, 255, 0.07);
  border: 1px solid var(--primary);
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.5);
}

.exp-hover-layer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  background-color: transparent;
  pointer-events: auto;
}

.exp-link svg {
  display: inline;
  vertical-align: middle;
  font-size: 1rem;
  margin-left: 0.25rem;
}

/* arrow icon animation */
.exp-page .experience:hover svg {
  transition: all 0.3s;
  transform: translate(5px, -5px);
}

.exp-page .experience:hover {
  transform: scale(1.02);
}

.exp-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  z-index: 10;
}

.exp-title {
  align-items: baseline;
  color: var(--text);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1;
}

.exp-date {
  color: var(--primary);
  font-size: 0.8rem;
  align-items: center;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.exp-description {
  margin-top: 0.5rem;
  line-height: 1.5;
  color: var(--secondary-text);
  font-weight: 400;
  font-size: 0.9rem;
  list-style: disc;
  padding-left: 1.05rem;
  display: flex;
  flex-direction: column;
}

.exp-description li {
  margin-bottom: 0.5rem;
}

.experience:hover .exp-title {
  color: var(--primary);
}

.tag-container {
  margin-top: 0.5rem;
}
