.project {
  position: relative; /* Anchor for the absolute layer */
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: fit-content;
  transition: all 0.3s ease;
  margin-top: 2rem;
}

.project-link svg {
  display: inline;
  vertical-align: middle;
  font-size: 1rem;
  margin-left: 0.25rem;
}

.project-page .project:hover svg {
  transform: translate(5px, -5px);
}

.project-page:hover .project {
  opacity: 0.5;
  transition: all 0.3s ease;
}

.project-page .project:hover {
  opacity: 1;
  filter: blur(0px);
  transform: scale(1.02);
}

/* This is the secret layer */
.project-hover-layer {
  position: absolute;
  top: -1rem;
  bottom: -1rem;
  left: -1rem;
  right: -1rem;

  z-index: 999;
  border-radius: 12px;
  background-color: transparent;
  transition: all 0.3s ease;
  pointer-events: auto;
}

.project:hover .project-hover-layer {
  box-shadow: 0px 0px 3px var(--primary);
}

.project-img,
.project-content {
  position: relative;
  z-index: 10;
}

.project-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.project-title {
  align-items: baseline;
  color: var(--text);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
}

.project-date {
  color: var(--accent);
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  line-height: 1;
}

.project-img {
  display: block;
  height: auto;
  width: 20%;
  border-radius: 16px;
  border: 2px, solid, var(--accent);
  object-fit: cover;
}

.project-description {
  margin-top: 0.2rem;
  line-height: 1.5;
  color: var(--secondary-text);
  font-weight: 400;
}

/* 1. Change title color on parent hover */
.project:hover .project-title {
  color: var(--primary); /* Replace with your desired highlight color */
}

/* 2. Change image border color on parent hover */
.project:hover .project-img {
  border-color: var(--primary); /* Changes the border to your highlight color */
}

/* 3. Smooth the transitions */
.project-title,
.project-img {
  transition: all 0.3s ease;
}

.tag-container {
  margin-top: 0.7rem;
}
