/* ExperiencePage.css */

.exp-page-title {
  display: flex;
  font-weight: 500;
  line-height: 1;
  font-size: 1.25rem;
  margin-top: 3.1rem;
}

.exp-page {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Keeps content aligned to the right */
  text-align: left; /* Ensures text within cards is right-aligned */
  width: 100%;

  /* Internal Scrolling Logic */
  height: auto;
  overflow-y: visible;
  gap: 1rem;
}
