/* ExperiencePage.css */

.exp-page-title {
  display: flex;
  font-weight: 500;
  line-height: 1;
  font-size: 1.25rem;
  margin-top: 3.1rem;
}

.exp-page {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Keeps content aligned to the right */
  text-align: left; /* Ensures text within cards is right-aligned */
  width: 100%;

  /* Internal Scrolling Logic */
  height: auto;
  overflow-y: visible;
  gap: 1rem;
}

.exp-disclaimer {
  font-weight: 400;
  line-height: 1.5;
  color: var(--secondary-text);
  margin-top: 1.75rem;
}

.exp-resume {
  margin-top: 1.75rem;
  font-size: 1.1rem;
  width: fit-content;
  line-height: 1;
}

.exp-resume a {
  text-decoration: none;
  color: var(--text);
  font-weight: 400;
}

.exp-resume svg {
  display: inline;
  vertical-align: middle;
  font-size: 1rem;
  margin-left: 0.25rem;
}

.exp-resume a:hover {
  color: var(--primary);
}

.exp-resume:hover svg {
  transform: translate(5px, -5px);
}
