.featured-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;

  /* Internal Scrolling Logic */
  height: auto;
  overflow-y: visible;
  gap: 1rem;
}

.featured-star {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-family: "Montserrat";
}

.featured-star svg {
  color: var(--primary);
}

.featured-title {
  display: flex;
  font-weight: 600;
  line-height: 1;
  font-size: 1.25rem;
  padding-bottom: 1rem;
  justify-content: space-between;
}

.container-border {
  border-radius: 12px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.featured-more {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--secondary-text);
  height: fit-content;
  text-decoration: none;
  font-family: "Montserrat";
}

.featured-more svg {
  margin-top: 0rem;
}

.featured-more:hover {
  color: var(--primary);
}

@media (max-width: 375px) {
  .featured-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
