.footer-container {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  color: var(--secondary-text);
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: left;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-links a {
  display: flex;
  transition: all 0.3s;
  color: var(--secondary-text);
}

.social-links a svg {
  display: block;
}

.social-links a:hover {
  color: var(--primary);
  transform: translateY(-5px);
}

.copyright-text {
  display: flex;
  line-height: 0;
  font-size: 0.75rem;
  align-items: center;
}

/* KEEP FONT SIZE AT 1 */
.copyright-text svg {
  font-size: 1rem;
  margin-right: 0.25rem;
}

.about-footer {
  font-size: 0.75rem;
  color: var(--secondary-text);
  max-width: 20rem;
  opacity: 0.8;
  line-height: 1.07;
}

.about-footer a {
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
}
