/* index.css */
:root {
  color-scheme: dark !important;
  --text: #d6dee8;
  --secondary-text: #929ba8;
  --background: #0f121edb;
  --secondary-background: #171c2e74;
  --primary: #227ffa;
  --secondary: #042046;
  --accent: #9798a99e;
  --box-outline: #0a0c14be;
}

* {
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }
}

h1,
h2 {
  font-family: "Montserrat", system-ui, sans-serif;
}

html {
  scroll-padding-block-start: 7rem;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  color: var(--text);
  line-height: 1.6;
  overscroll-behavior-y: none;
}
