/* index.css */
:root {
  color-scheme: dark !important;
  --text: #c4d2e5;
  --secondary-text: #7f8793;
  --background: #0f121ec8;
  --secondary-background: #171c2e6f;
  --primary: #227ffa;
  --secondary: #042046;
  --accent: #9798a99e;
  --nav-height: 80px;
  --box-outline: #0a0c14be;
}

* {
  margin: 0;
  font-family: "Lexend", system-ui, sans-serif;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  scroll-padding-block-start: 7rem;
}

body {
  background-color: var(--background);
  color: var(--text);
  line-height: 1.6;
  overscroll-behavior-y: none;
}
