/* index.css */
:root {
  color-scheme: dark !important;
  --text: #a3badb;
  --secondary-text: #a9a297;
  --background: #0f121e;
  --secondary-background: #171c2e;
  --primary: #227ffa;
  --secondary: #042046;
  --accent: #9798a99e;
  --nav-height: 80px;
  --box-outline: #0a0c14ee;
}

* {
  margin: 0;
  font-family: "Lexend", system-ui, sans-serif;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  line-height: 1.6;
  overscroll-behavior-y: none;
}
