/* LandingPage.css */

.welcome-text {
  /* Prevents the container from becoming a tiny sliver on mobile */
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.welcome-text > * {
  display: block;
}

.name {
  font-size: 4rem;
  font-weight: 700;
  color: var(--text);
  text-decoration: none;
  width: fit-content;
  line-height: 1;
  white-space: nowrap;
  letter-spacing: -0.02em;
  margin-left: -3px;
}

.name svg {
  font-size: 3rem;
}

.welcome-text > h2 {
  font-size: 1.25rem;
  color: var(--text);
  font-weight: 500;
  line-height: 1.75;
  margin-top: 0.75rem;
}

.summary {
  max-width: 23rem;
  line-height: 1.5; /* Increased for readability when it wraps */
  color: var(--secondary-text);
  margin-top: 1rem;
  max-height: 3rem;
  height: 3rem;
}
