/* Nav.css */

ul {
  list-style: none;
  padding: 0;
}

.nav-links a {
  margin-bottom: 1rem;
}

.side-nav {
  width: max-content;
  height: max-content;
  margin-top: 4rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--secondary-text);
  padding-left: 0;
  display: flex;
  line-height: 1;
}

.nav-links a.active {
  color: var(--primary);
}

.nav-indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.nav-indicator.visible {
  width: 1.5rem;
  opacity: 1;
  margin-right: 4px;
}

.nav-indicator svg {
  display: block;
  font-size: 1.25rem;
}

.link-text {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: "Montserrat";
}

@media (max-width: 1350px) {
  #nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    padding: 2rem;
    height: min-content;
    z-index: 999;

    background-color: #0f121ebc;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    mask-image: linear-gradient(to bottom, black 65%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 65%, transparent 100%);
  }

  ul {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    gap: 3rem;
  }

  .side-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
  }
}

@media (max-width: 425px) {
  .link-text {
    font-size: 1rem;
  }

  ul {
    gap: 0;
    justify-content: space-evenly;
  }
}
