/* Nav.css */

ul {
  list-style: none;
  padding: 0;
}

.nav-links a {
  margin-bottom: 1rem;
}

.side-nav {
  width: max-content;
  height: max-content;
  margin-top: 4rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--secondary-text);
  padding-left: 0;
  display: flex;
  line-height: 1;
}

.nav-links a.active {
  color: var(--primary);
}

.nav-indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.nav-indicator.visible {
  width: 1.5rem;
  opacity: 1;
  margin-right: 4px;
}

.nav-indicator svg {
  display: block;
  font-size: 1.25rem;
}

.link-text {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: "Montserrat";
}
