/* ProjectPage.css */

.project-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;

  /* Internal Scrolling Logic */
  height: auto;
  overflow-y: visible;
  gap: 1rem;
}

.project-page:hover .project {
  opacity: 0.5;
  transition: all 0.3s ease;
}

.project-page .project:hover {
  opacity: 1;
  filter: blur(0px);
  transform: scale(1.02);
}
