/* css/TechStack.css */

.expandable {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.expandable.expanded .expandable-header {
  color: var(--primary);
}

.expandable-header {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  font-weight: 500;
  white-space: nowrap;
}

.expandable-content {
  grid-column: 1 / -1;
  grid-row: 2;
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.expandable.expanded .expandable-content {
  grid-template-rows: 1fr;
  opacity: 1;
  margin-top: 1rem;
  padding: 1rem;
}

.about-tech-stack {
  min-height: 0;
}

.about-tech-stack ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
}

.about-tech-stack li {
  color: var(--text);
  display: flex;
  gap: 0.25rem;
  align-items: center;
  pointer-events: auto;
  justify-content: center;
  line-height: 0;
  padding: 1rem;
}

.about-tech-stack li:hover {
  color: var(--primary);
  border-radius: 8px;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}

.expandable-header svg:first-of-type {
  color: var(--primary);
}

.expand-arrow {
  font-size: 1rem;
}

@media (max-width: 800px) {
  .expandable-header {
    grid-column: 1 / -1;
    grid-row: 2;
    margin-top: 1rem;
  }

  .expandable-content {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  .about-tech-stack li {
    justify-content: center;
  }
}

@media (max-width: 650px) {
  .expandable-header {
    grid-row: 3;
  }

  .expandable-content {
    grid-row: 4;
  }
}

@media (max-width: 375px) {
  .about-tech-stack li {
    line-height: 1rem;
  }
}
